@font-face {
  font-family: 'Vollkorn';
  src: local('Vollkorn'), url('/static/font-vollkorn.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  src: local('Vollkorn-Italic'), url('/static/font-vollkorn-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  src: local('Karla'), url('/static/font-karla.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-style: italic;
  src: local('Karla-Italic'), url('/static/font-karla-italic.ttf') format('truetype');
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

:root {
  --page-margin: 1.6cm;
  --lang-en-display: unset;
  --lang-ro-display: none;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
  }

  :root {
    margin-top: var(--page-margin);
  }
}

@layer utilities {
  .lang-ro {
    display: var(--lang-ro-display);
  }

  .lang-en {
    display: var(--lang-en-display);
  }

  .snap-x {
    scroll-snap-type: x mandatory;
  }

  .snap-y {
    scroll-snap-type: y mandatory;
  }

  .snap-start {
    scroll-snap-align: start;
  }

  .snap-center {
    scroll-snap-align: center;
  }

  .snap-end {
    scroll-snap-align: end;
  }

  .snap-stop {
    scroll-snap-stop: always;
  }

  .snap-normal {
    scroll-snap-stop: normal;
  }
}

@layer components {
  h1 {
    @apply text-4xl print:text-2xl font-bold;
    font-family: 'Vollkorn', 'Times New Roman', Times, serif;
  }

  h2 {
    @apply text-2xl print:text-lg font-semibold;
    font-family: 'Vollkorn', 'Times New Roman', Times, serif;
  }

  h3 {
    @apply text-xl print:text-base font-medium print:font-semibold;
    font-family: 'Vollkorn', 'Times New Roman', Times, serif;
  }

  p {
    @apply max-w-prose pl-4 print:pl-0 py-2 leading-7 print:leading-6;
  }

  em {
    font-style: normal;
    font-variant: small-caps;
  }

  svg {
    width: 1em;
    height: 1em;
    margin-bottom: -0.125em;
    display: inline-block;
    vertical-align: baseline;
  }

  a {
    @apply whitespace-nowrap;
  }

  a:hover {
    @apply brightness-125 filter;
  }

  a > svg {
    @apply mx-0.5;
  }

  a::after {
    content: '\1f855';
    @apply opacity-50 mx-0.5 transition-opacity;
  }

  a:hover::after {
    @apply opacity-100;
  }

  @media print {
    a {
      @apply underline;
    }

    a::after {
      @apply hidden;
    }
  }

  button {
    @apply
      px-5 py-2 
      border-b-2 border-white
      font-semibold transition-all;
  }

  button:hover {
    @apply text-black bg-white;
  }

  button:active {
    @apply text-gray-900 bg-gray-300 border-gray-300;
  }

  button[active] {
    @apply text-black bg-white;
  }

  section {
    @apply
      px-4 pt-4 print:px-0
      flex items-center justify-center
      snap-start min-h-screen print:min-h-full;
  }

  section:nth-child(odd) {
    @apply print:text-black text-gray-100;
  }

  section:nth-child(even) {
    @apply print:text-black text-gray-800;
  }

  section:nth-child(-n + 2) {
    @apply lg:pl-96;
  }

  section:nth-last-child(-n + 2) {
    @apply lg:pr-96;
  }

  @media print {
    section[new-page] {
      padding-top: var(--page-margin);
      @apply break-before-page;
    }
  }

  .screen-subsection {
    @apply flex flex-col gap-6 print:gap-2 mb-12 print:mb-2;
  }

  .injected-svg {
    height: 1em;
    width: 1em;
    display: inline-block;
    @apply bg-white rounded-full m-0.5;
  }
}
